# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# =========================
# Virtual Environment (YOU HAVE .venv)
# =========================
.venv/

# =========================
# Environment Variables (CRITICAL)
# =========================
.env
.env.*
*.env

# =========================
# Airflow Logs (VERY IMPORTANT)
# =========================
logs/
logs/**

# =========================
# Airflow State / Metadata
# =========================
*.db
*.sqlite

# =========================
# DAG cache
# =========================
dags/__pycache__/
etl_codes/__pycache__/
utils/__pycache__/

# =========================
# Data files (DON'T PUSH DATA)
# =========================
data/
*.csv

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Misc
# =========================
*.tmp